*.zip
*.xlsx
*.xml
*.json
*.pyc
*.txt
*.jpg
*.pdf
*.db
*.tif
*.md5
*.sha512
.env
*.icc
*.bat
/lory_zhb
/config-backup
/inventories-droidreports
config.py
config-emanuscripta.py
/config-backup
config.py
*.ps1
config.py
/config-backup
config.py
