
e-codices/fulldump/ecodices_complete_set.json
*.zip
e-codices/fulldump/ecodices_complete_set.xlsx
*.xml
e-rara/fulldump/erara_complete_set.json
e-rara/fulldump/erara_complete_set.xlsx
*.json
*.pyc
e-codices/.ipynb_checkpoints/zhb_dlza_ecodices_info-checkpoint.ipynb
e-rara/.ipynb_checkpoints/zhb_dlza_erara_info-checkpoint.ipynb
e-manuscripta/.ipynb_checkpoints/zhb_dlza_emanuscripta_info-checkpoint.ipynb
e-manuscripta/fulldump/emanuscripta_complete_set.xlsx
e-codices/fulldump/signatures.txt
e-manuscripta/fulldump/signatures.txt
e-rara/fulldump/signatures.txt
