# ignore files by extension:
*.bat
*.db
*.docx
*.env
*.icc
*.jpg
*.json
*.log
*.md5
*.pdf
*.ps1
*.pyc
*.sha512
*.tif
*.txt
*.xlsx
*.xml
*.zip

# ignore directories:
/lory_zhb
/config-backup
/inventories-droidreports
/lory_unilu
/workbench
/boilerplate

# ignore specific files:
config.py